:root {
    --grid-rows: 1;
    --grid-columns: 1;
}

/* this is for mousedown 'hold to write'
html {
    user-select: none;
} */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#grid {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    height: 600px;
    width: 600px;
}

.cell {
    border: 1px solid black;
}